---
humilis-decrypt:
    description:
        A dummy environment used for testing the decrypt plugin.

    layers:
        - layer: decrypt
          layer_type: decrypt
          key_admins:
            - user/german
            - user/test-travis
          key_users:
            - user/german
            - user/test-travis
